  <div id="gradient" />
  <div class="jumbotron">Seenery</div>
  <div class="desc">Social Atmosphere Ratings To Find The Best Places To Party</div>
  </div>

  <div class="main">
    1. Login
  <div class="Login">
  <!-- HTML for render Google Sign-In button -->
  <!--<div id="gSignIn"></div> -->
  <!-- HTML for displaying user details -->
  <div class="userContent"></div>

  <!-- In the callback, you would hide the gSignInWrapper element on a
  successful sign in -->
  <div id="gSignInWrapper"></div>
  <div id="name"></div>

  <!-- Google Sign In Div -->
  <div id="mysignin2" class="gsignin" data-onsuccess="onSignIn"></div>
  </div>

  <br>
    2a. Have a search field to find a club?
    2b. Do img grid like week6 gifs of photos recently taken(how to add them to imgr search by seenery)
    2c. Mark as a favorite (heart)
  <br>

    3a. Find ratings in your current area OR
    3b. Rate your current location link
  <br>

    4. Google maps auto detect geolocation (for either 3a or 3b)
  <br>

    5a. Rating men or women or entire club radio button
    5b. Rating scale stars http://www.jqueryrain.com/demo/jquery-rating-plugin/
    5c. Comments field
    5d. Submit button (goes to mysql)
  </div>
